* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 16px;
  border-radius: 20px;
  margin-top: 50px;
}

a:link {
  color: black;
  margin-left: 20px;
  line-height: 25px;
  font-size: 16px;
  text-decoration: none;
}

a:visited {
  color: black;
}

h1 {

  /* color: chocolate; */
  text-align: center;
}

.img {
  border-radius: 20px;
  max-width: 550px;
  height: auto;
  display: block;
  margin: 20px auto;
}

.description {
  font-size: 16px;
  padding-bottom: 10px;
}

ul,
ol {
  margin: 10px 30px;
}

li {
  font-size: 16px;
  line-height: 25px;
}

.logo {
  text-align: left;
  display: inline;
  float: left;
}

ul.navigation {
  float: right;
}

header {
  max-width: 1200px;
}

.fNAme {
  color: chocolate;
}

ul.navigation li {
  display: inline-block;
}